<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <script type = "text/javascript" src="{{url_for('static', filename='script/main.js')}}"></script>


</head>
<body>

<header class="header">
        <div class="nav-bar">
            <a href="#"><img class="logo" src="https://github.com/rkjenkins2/odin-landing-page/blob/main/photos/lasso-logo.png?raw=true" alt="ted lasso logo"></a>
            <nav class="nav-links">
                <ul>
                    <li><a href="https://www.youtube.com/watch?v=3u7EIiohs6U">the trailer</a></li>
                    <li><a href="https://www.apple.com/apple-tv-plus/">apple tv+</a></li>
                    <li><a href="https://www.youtube.com/watch?v=6KeG_i8CWE8">a surprise</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-content">
            <div class="main-left">
                <h1>Be curious, not judgmental.</h1>
                <p>Ted Lasso is a gift. On the surface, it’s the story of an American football coach (and his sidekick) who moves to London to coach soccer… errr… <em>football.</em> The show is delightful in so many ways. It is charming, witty, silly, hysterical… and on the other it is sad, beautiful, thoughtful, honest, and kind. It’s a lot. It’s like being a human. We all need a little Ted right now. </p>
                <button><a href="https://www.youtube.com/watch?v=3u7EIiohs6U">Watch the trailer</button></a>
            </div>
            <div class="main-right">
                <img class="believe" src="./photos/believe.png" alt="yellow flag with believe in blue text">
            </div>
        </div>
    </header>

    </div>
    <footer class="footer">Ted Lasso is property of Apple, Inc. Copyright them, on everything, forever and ever, amen.</footer
</body>
</html>