<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Etherspy</title>
    <link rel = "stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <script type = "text/javascript" src="{{url_for('static', filename='script/main.js')}}"></script>


</head>
<body>

<header class="header">
        <div class="nav-bar">
            <a href="#"><img class="logo" src="static/images/Ether.png" alt="etherscan"></a>
            <nav class="nav-links">
                <ul>
                    <li><a href="https://etherscan.io/apis">documentation</a></li>
                    <li><a href="https://www.twilio.com/">powered by twilio</a></li>
                    <li><a href="https://www.youtube.com/watch?v=eBGIQ7ZuuiU">Free Bitcoins</a></li>
                </ul>
            </nav>
        </div>

        <div class="header-content">
            <div class="main-left">
                <h1>Spy on your friends, crush, or enemy. </h1>
                <p class="font-size">Monitor Ethereum Transactions With Your Phone. </p>
                <button onclick="newPage()">Launch Etherspy</button>
                <script>
                    function newPage() {
                         window.location.href="/spy";
                    }
                </script>
            </div>
            <div class="main-right">
                <img class="believe" src="static/images/agent.png" alt="yellow flag with believe in blue text">
            </div>
        </div>
    </header>

    </div>
</body>
</html>